{% extends 'base.html' %}

{% block title %}Customer Login{% endblock %}

{% block content %}
<style>
    .errorlist{
        color: rgb(0, 123, 154)
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Customer Login</h3>
            <form action="" method="POST"> 
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-outline-info btn-sm">
                    <b>Submit</b>
                </button>
                {% if error %}
                <p style="color:rgb(255, 0, 0)">{{error}}</p>
                {% endif %}
            </form>
            <p>New user?   <a href="{% url 'ecomapp:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register</a></p>
        </div>
    </div>
</div>

{% endblock %}