{% extends 'base.html' %}
{% load humanize %}

{% block title %}Order Detail{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>Order Details</h3><hr>
            <p><span class="fw-bold">Order ID: </span>ORDER#_{{order.id}}</p>
            <p><span class="fw-bold">Order Status: </span>{{order.order_status}}</p>
            <p><span class="fw-bold">Ordered On: </span>{{order.created_at}}</p>
            <p><span class="fw-bold">Ordered By: </span>{{order.ordered_by}}, {{order.phone}}</p>
            <p><span class="fw-bold">Shipping Address: </span>{{order.shipping_address}}</p>

            <h4>Ordered Items</h4><hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in order.cart.cartproduct_set.all %}
                    <tr>
                        <div class="row">
                            <td style="vertical-align:middle">
                                <a href="{% url 'ecomapp:productdetail' cp.product.slug %}">
                                    <img src="{{cp.product.image.url}}" alt="" width="75px" class="image-thumbnail">
                                </a><b>{{cp.product.title}}</b>
                            </td>
                            <td style="vertical-align:middle">${{cp.rate|floatformat:2|intcomma}}</td>
                            <td style="vertical-align:middle">{{cp.quantity}}</td>
                            <td style="vertical-align:middle">${{cp.subtotal|floatformat:2|intcomma}}</td>
                            <td style="vertical-align:middle"></td>
                        </div>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan = "3" style="text-align:right">Total</th>
                    <th>${{order.cart.total|floatformat:2|intcomma}}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
